.projects {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  &-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  &-box {
    padding: 20px 24px;
    border-left: 1px solid  #EEEEEE;
    border-right: 1px solid  #EEEEEE;
    border-bottom: 1px solid  #EEEEEE;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-grow: 1;
    }
  }

  &-card-group {
    position: relative;
    overflow: hidden;
  }
}

.portfolio {
  padding: 94px 0px;
  @media screen and (max-width: 1199px) {
    padding: 60px 0px;
  }
}

.project-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0px 0px -30px;
  }

  & > .indents-between-projects {
    @media screen and (min-width:768px) and (max-width: 1199px) {
      flex-basis: calc(100% / 2 - 30px);
      margin: 30px 0px 0px 30px;
      width: 100%;
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      margin: 30px 0px 0px 30px;
      width: 100%;
    }
  }
}

.indents-between-projects:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.card.link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  display: block;
  transition: box-shadow 250ms var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.text-project {
  position: absolute;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--card-project-anim-background);
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);

  .indents-between-projects:hover & {
    transform: translateY(0%);
  }
}