/* Regular clients */

.clients {
  padding: 94px 0px;

  &__title {
    @include title;
  }

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
    }
  }
}

.clients-icon__item{
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 120px) / 3);
    margin: 15px;
  }

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 120px) / 2);
    margin: 15px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-icon__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}