/* Container + Header + Site nav */

.header {
  border-bottom: 1px solid #ECECEC;
  padding: 25px 0px;

  &__container {
    display: flex;
    align-items: center;
  }
}

.contacts__list {
  margin-left: auto;
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.contacts__item:not(:last-child) {
  @media screen and(max-width: 1199px) {
    margin-bottom: 12px;
  }  
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
  
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
}

.mail {
  margin-right: 10px;
  fill: currentColor;
}

.tel {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  @media screen and(min-width: 480px) {
    margin-right: 88px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    @media screen and(min-width: 768px) {
      margin-right: 50px;
    }
  }

  &__list {
    @media screen and(min-width: 768px) {
      display: flex;
    }
  }
}

.nav__logo {
  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms var(--cubic);
  }
}

.nav__list .link {
  display: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms var(--cubic);

  @media screen and(min-width: 768px) {
    display: block;
  }
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.nav__link--current::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -41px;
  border-radius: 2px;
  background-color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    bottom: -33px;
  }
}

.mobile-menu__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  z-index: 10;
  transition: fill 250ms var(--cubic);
  
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__open {
  display: none;
}

.mobile-menu {
  position: fixed;
  background-color: var(--primary-white-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  @media screen and (min-width: 768px) {
    display: none;
  }
  z-index: 9;

  &.is-open {
    transform: translateX(0%);
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__container {
    position: relative;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--cubic);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color)
  }

  &--current.current::before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  &--current.current{
    color: var(--accent-color)
  }
}

.mobile-contacts__list {
  @media screen and (max-width: 479px) {
    margin-bottom: 64px;
  }
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: font-size 250ms var(--cubic), color 250ms var(--cubic);

  &:hover,
  &:focus{
    color: var(--accent-color);
    font-size: 34px;
  }
}

.mobile-social__list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 479px) {
    margin: -15px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__item {
  @media screen and (max-width: 479px) {
    flex-basis: calc((100% - 120px) / 2);
    margin: 15px;
  }
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
  position: relative;

  &:hover,
  &:focus{
    color: var(--accent-color);
  }
}

.mobile-social__link--line1::after {
  content: "";
  height: 0px;
  width: 22px;
  position: absolute;
  left: 85px;
  top: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link--line2::after {
  content: "";
  height: 0px;
  width: 22px;
  position: absolute;
  left: 58px;
  top: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link--line3::after {
  content: "";
  height: 0px;
  width: 22px;
  position: absolute;
  left: 80px;
  top: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link--line4::after {
  @media screen and (max-width: 479px) {
    content: "";
    height: 0px;
    width: 22px;
    position: absolute;
    left: 70px;
    top: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}