/* Our team */

.team {
  padding: 94px 0px;
  background-color: var(--secondary-background-color) ;

  &__title {
    @include title;
  }

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and (max-width: 767px) {
      text-align: -webkit-center;
    } 
    @media screen and (min-width: 1200px) {
      display: flex;
    }   
  }

  &__box {
    padding: 30px 32px;
    @media screen and (max-width: 1199px) {
      padding: 30px 74px 24px 74px;
    }
    @media screen and (max-width: 767px) {
      padding: 30px 0 24px 0;
    }
  }

  &__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}

.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 120px) / 2);
    margin: 15px;
  }
  
  &:nth-child(-n + 3) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.social-icon__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  } 
}

.social-icon__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon__link {
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}

.icon-social-net {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 44px;
}