/* Work examples */

.work {
  padding: 47px 0px 94px 0px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }

  &__title {
    @include title;
  }

  &__item:nth-child(-n + 2) {
    margin-right: 30px;
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color); 
    padding: 27px 0px ;
    background-color: var(--work-animation-background);
  }
}

.work__overlay{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 1;
}