:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #F5F4FA;
  --dark-background-color: #2F303A;
  --footer-address: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --icon-color: #afb1b8;
  --work-animation-background: rgba(47, 48, 58, 0.8);
  --card-project-anim-background: rgba(33, 150, 243, 0.9);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}